body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

nav a {
    color: white;
    text-decoration: none;
}

.video-background {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Justera opaciteten för att göra videon mer eller mindre dimmig */
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 2rem;
}

section {
    text-align: center;
}

#products {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.product {
    display: inline-block;
    margin: 1rem;
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
